
h2 {
    padding-left: 20px;
}

body {
    background-color: #daeefc;
    color: #1B1862;

}

.bg-light {
    background-color: white!important
}

#nav-placeholder {
    position: fixed;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    font-size: 20px;
    color: #FC2230;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #1B1862;
}


#about {
    position: static;
    /* width: 100vw; */
    height: 100vh;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

.contentbox {
    /* border: 1px solid gray; */
    /* margin: 20px; */
    padding: 20px;
    flex: 1;
    background: white;
    border: 1px solid #1B1862;
}

#leaders {
    position: relative;
    width: 100vw;
    height: 60vh;
    padding: 20px;
}

#facilitators {
    position: relative;
    width: 100vw;
    height: 60vh;
    padding: 20px;
}

#people {
    position: relative;
    width: 100vw;
    height: 60vh;
    padding: 20px;
}

.person {
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid #1B1862;
    margin: 20px;
    position: relative;
    float: left;
}

.person.seattle {
    /* border: 1px solid #FC2230; */
}

.person.montreal {
    /* border: 1px solid #1B1862; */
}

.person img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    clip-path: circle(40%);
}

.person:hover img {
    transform: scale(-1, 1);
}

.bio {
    margin: 15px;
}

