
#figure {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: #f5e0e0;
}

#about {
    position: relative;
    width: 100vw;
    height: 50vh; 
    background-color: #fefeff;
}

#workwithme {
    position: relative;
    width: 100vw;
    height: 75vh; 
    background-color: #daf6ff;
}

#writings {
    position: relative;
    width: 100vw;
    height: 90vh; 
    background-color: #fefeff;
}

#otherart{
    position: relative;
    width: 100vw;
    height: 90vh; 
    background-color: #fefeff;
}

#meetup{
    position: relative;
    width: 100vw;
    height: 90vh; 
    background-color: navy;
    /* background-image: url("/images/dvjstile.png"); */
    /* background-size: 110%; */
}

#meetup, h2 {
    color: white;
}

#meetupinterior {
    position: absolute;
    margin: 40px;
    width: 90vw;
    height: 80vh; 
    /* background-color: white; */
    /* opacity: 0.4; */
}

#people {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}


.person {
    height: 390px;
    width: 300px;
    background-color: "pink";
    border: 1px solid gray;
    margin: 20px;
    position: relative;
    float: left;
}

.person img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    clip-path: circle(40%);
}

.person:hover img {
    transform: scale(-1, 1);
}

.bio {
    margin: 15px;
    color: gray;
}

